* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  background: #282D35;
}

nav {
  display: flex;
  justify-content: space-between;
  background: #21222A;
  align-items: center;
  height: 90px;
  padding: 30px 25px;
}

.logo {
  display: flex;
  margin-left: 26px;
}

.logo h1 {
  font-weight: 700;
  font-size: 22px;
  color: #61DAFB;
  margin-left: 7px;
}

nav > h2 {
  font-weight: 600;
  font-size: 16px;
  color: #DEEBF8;
  margin-right: 27px;
  }

.main-section {
  padding: 57px 27px;
  background-image: url("./images/reactjs-icon-2.svg");
  background-repeat: no-repeat;
  background-position: 100% 75%;
}

.main-section > h1 {
  color: #FFFFFF;
  font-size: 40px;
  margin: 0 0 46px 27px;
}

.main-section > ul {
  max-width: 500px;
  margin-left: 50px;
}

.main-section > ul > li {
  color: #FFFFFF;
  font-size: 16px;
  padding-block: 10px;
}

.main-section > ul > li::marker {
  font-size: 1.4rem;
  color: #61DAFB;

}



